<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form>
  <label>
    request_uri
    <input th:value="${#request.getRequestURI()}">
  </label><br/>
  <label>
    session_id
    <input th:value="${#session.getId()}">
  </label><br/>
  <label>
    param: name
    <input th:value="${param.name}">
  </label><br/>
  <label>
    memberId from session
    <input th:value="${session.memberId}">
  </label><br/>
</form>

</body>
</html>