<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/hello/hello-thymeleaf}">basic</a></p>
<p><a th:href="@{/hello/basic-object(name=${name})}">query string</a></p>
<p><a th:href="@{/hello/link/{pathVariable}(pathVariable=${pathVariable})}">path variable</a></p>
<p>
    <a th:href="@{/hello/link/{pathVariable}(pathVariable=${pathVariable}, name=${name}, age=${age})}">
        path variable + query string
    </a>
</p>
</body>
</html>