<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border: black">
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>포인트</th>
        <th>비고</th>
    </tr>
    <tr th:each="member : ${members}">
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.point}"></td>
        <td>
            <span th:text="'포인트 많음!'" th:if="${member.point > 10}"></span>
            <span th:unless="${member.point > 10}">포인트 적음!</span>
            <span th:switch="${member.memberName}">
                <span th:case="'name'">이름 = name!</span>
                <span th:case="*" th:text="'default case'"></span>
            </span>
        </td>
    </tr>
</table>
</body>
</html>