<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
</head>
<body>
<h2>회원 수정</h2>
<form action="/spring-th/lec3/hello" th:action="@{/lec3/hello}" th:object="${member}">
    <label for="memberId">아이디 :
        <input type="text" id="memberId" placeholder="아이디를 입력해 주세요" th:field="*{memberId}" readonly>
    </label><br/>
    <label for="memberName">이름 :
        <input type="text" id="memberName" placeholder="이름을 입력해 주세요" th:field="*{memberName}">
    </label><br/>
    <label for="memberPw">비밀번호 :
        <input type="password" id="memberPw" placeholder="비밀번호를 입력해 주세요" name="memberPw"
               th:value="${member.memberPw}">
    </label><br/>
    <button type="submit">수정</button>
</form>
</body>
</html>