<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>에러 페이지</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>500 오류 화면 스프링 부트 제공</h2>
    </div>
    <div>
        <p>오류 화면 입니다.</p>
    </div>
    <ul>
        <li>오류 정보</li>
        <li>
            <ul>
                <li th:text="${timestamp}"></li>
                <li th:text="${path}"></li>
                <li th:text="${status}"></li>
                <li th:text="${message}"></li>
                <li th:text="${error}"></li>
                <li th:text="${exception}"></li>
                <li th:text="${errors}"></li>
                <li th:text="${trace}"></li>
            </ul>
        </li>
    </ul>
    <hr class="my-4">
</div>
</body>
</html>